@tailwind base;
@tailwind components;
@tailwind utilities;

body, h1, h2 {
  font-family: "Skranji variant0", Tofu !important;
}

body {
  background-image: url('https://img.freepik.com/free-photo/white-simple-textured-design-background_53876-106174.jpg?w=996&t=st=1699971138~exp=1699971738~hmac=edf245ad41a3a51a9a276c19b96e168401538b95a374edb209848bf088db74d8');
}
.chat-screen {
  max-height: 88vh;
  height: 88vh;
  padding-left: 80px;
  padding-right: 80px;
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: 22px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.088);
  

  padding-bottom: 60px;

  
}
body {
  overflow-x: hidden;
}

.room textarea {

  padding: 20px;
  outline: none;
  border: 3px rgb(233, 231, 231) solid;
  box-shadow: 5px 2px 3px 5px rgb(225, 225, 225);
  overflow-y: hidden;
 font-size: 22px;
  width: 92%;
  word-spacing: 0.5em;
  letter-spacing: 0.23em;
  box-sizing: border-box;
  word-break: break-all;
  line-break: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.input-box {
  height: 12vh;
  position: absolute;
  top:-50px;
  
 
  
 
}
.message {
  box-shadow:2px 5px 10px 2px rgb(195, 150, 210);
  max-width: 30%;
  padding-right: 40px;
  word-break: break-all;
}
.message .avatar {
  margin-bottom: -10px;
  
  
}
.msg-end {
  justify-content: end;

}

.msg-end .message {
  background-color: white;
 
}
.msg-start {
  justify-content: start;
}


.profile-page .content {
  width: 80%;
}
.avatar-select {
  cursor: pointer;
  
}

.avatar-select:hover {
  box-shadow:2px 5px 10px 12px rgb(195, 150, 210);
  border-radius: 50%;
}
.avatar-container[data-selected="true"]::before{
content :url('./../images/avatars/correct.png');
display: inline-block;
position: absolute;



}